body{
    background-color: #EEEEEE;
}
.fa{
    color:  #4183D7;
    
}

.box-part{
    background-color: #fff;
    padding: 50px 0px 50px 0px;
    margin: 20px;
   
}



.text{
    text-align: center;
    padding: 10px;
}


.box{
    padding: 75px;
}
